/* 样式的初始化----------------------- */
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 双伪元素清除法 */
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}
.clearfix::after {
  clear: both;
}
.clearfix {
  *zoom:1;
}

/* 左浮动 */
.fl {
  float: left;
}

/* 右浮动 */
.fr {
  float: right;
}

/* 版心：宽度固定并且水平居中的盒子 */
.w {
  width:1200px;
  margin: 0 auto;
}

/* 整个页面有背景颜色 */
body {
  background-color: #f4f5f9;
  /* height: 3000px; */
}

/* -------------------------------------header的样式 */
.header {
  height: 101px;
  /* ps */
  /* background-color: pink; */
  padding-top: 30px;
  box-sizing: border-box;
}

.header .logo {
  width: 195px;
  height: 42px;
  background: url('./images/logo.png');
}

.header .nav {
  margin-left: 70px;
}

.header .nav li {
  float: left;
  margin-right: 27px;
}

.header .nav li a {
  float: left;
  height: 41px;
  padding: 0 8px;
  line-height: 41px;
  color: #000;
  font-size: 18px;
}

.header .nav li a:hover {
  color: #02a5ff;;
  border-bottom: 2px solid #02a5ff;
}

.header .search {
  width: 412px;
  height: 41px;
  /* ps */
  background-color: skyblue;
  margin-left: 87px;
}

.header .search input {
  width: 362px;
  height: 40px;
  border: 1px solid #00a5ff;
  box-sizing: border-box;
  padding-left: 19px;
  float: left;
  font-size: 12px;
}

.header .search button {
  width: 49px;
  height: 40px;
  border: none;
  box-sizing: border-box;
  background:url('./images/btn.png');
  float: left;
}

.header .user {
  height: 40px;
  margin-left: 31px;
  line-height: 40px;
}

.header .user img {
  /* 让图片垂直居中 */
  vertical-align: middle;
}

/* -------------------------------banner的样式 */
.banner {
  height: 420px;
  background: #1c036b url('./images/banner2.png') no-repeat center center ;
}

.banner .w {
  height: 420px;
  /* ps */
  /* background-color: skyblue; */
}

.banner .w .left {
  width: 190px;
  height: 420px;
  background-color: rgba(0,0,0,.3);
  padding-top: 13px;
  box-sizing: border-box;
}

.banner .w .left li {
  line-height: 44px;
  padding: 0px 20px;
  font-size: 12px;
}

.banner .w .left li a {
  color: #fff;
}

.banner .w .left li span {
  float: right;
  font-family: '宋体';
  color: #fff;
}

.banner .w .left li:hover a,
.banner .w .left li:hover span  {
  color: #00b1fb;
}

.banner .w .right {
  width: 229px;
  height: 301px;
  background-color: #fff;
  margin-top: 50px;
}

.banner .w .right h2 {
  height: 48px;
  text-align: center;
  line-height: 48px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background-color: #9bceeb;
}

.banner .w .right ul {
  padding: 12px 19px 0;
}

.banner .w .right ul li {
  height: 58px;
  border-bottom: 1px solid #eeeeee;
  padding-top: 12px;
  box-sizing: border-box;
}

.banner .w .right ul li:last-child {
  border: none;
}

.banner .w .right ul li h4 {
  font-size: 16px;
  color: #3e3e3e;
  height: 22px;
}

.banner .w .right ul li p {
  font-size: 12px;
  color: #a2a2a2;
}

.banner .w .right ul li:hover h4,
.banner .w .right ul li:hover p {
  color: #0393f4;
}

.banner .w .right .all {
  width: 200px;
  height: 40px;
  display: block;
  border: 1px solid #22b1fd;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  line-height: 38px;
  color: #22b1fd;
  font-weight: 700;
}

/* -------------------------------goods的样式
 */
.goods {
  height: 60px;
  /* ps */
  /* background-color: pink; */
  margin-top: 8px;
  padding-top: 20px;
  box-sizing: border-box;
  /* 盒子阴影 */
  box-shadow: 2px 2px 6px 3px #ccc;
}

.goods h3 {
  float: left;
  font-size: 16px;
  color: #05a0fd;
  padding: 0 34px;
}

.goods ul {
  float: left;
}

.goods ul li {
  float: left;
  color: #bfbfbf;
}

.goods ul li a {
  color: #000;
  /* border-left: 1px solid #bfbfbf; */
  padding: 0 34px;
}

.goods .mod {
  float: right;
  color: #009df7;
  font-size: 12px;
  margin-right: 26px;
}


/* -------------------------------main部分的样式 */
.main {
  height: 600px;
  /* ps */
  /* background-color: violet; */
  margin-top: 35px;
}

.main .top {
  height: 43px;
  /* ps */
  /* background-color: pink; */
}

.main .top h3 {
  float: left;
  font-size: 20px;
  font-weight: 400;
}

.main .top a {
  float: right;
  color: #a0a1a3;
  font-size: 12px;
  margin-right: 30px;
  margin-top: 9px;
}

.main .bottom {
  height: 557px;
  /* ps */
  /* background-color: skyblue; */
}

.main .bottom ul li {
  width: 228px;
  height: 270px;
  background-color: #fff;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  position: relative;
}

.main .bottom ul li:nth-child(5n) {
  margin-right: 0;
}

.main .bottom ul li .pic {
  width: 100%;
}

.main .bottom ul li h4 {
  height: 53px;
  box-sizing: border-box;
  font-weight: 400;
  margin-top: 24px;
  padding-left: 24px;
  padding-right: 20px;
}

.main .bottom ul li p {
  padding-left: 24px;
  padding-right: 20px;
  font-size: 12px;
  color: #929292;
}

.main .bottom ul li p span {
  color: #ff6f0c;
}

.main .bottom ul li .hot {
  position: absolute;
  top: 4px;
  right: -4px;
}

/* -------------------------------footer的样式 */
.footer {
  height: 417px;
  background-color: #fff;
  margin-top: 40px;
}

.footer .w {
  height: 417px;
  /* background-color: pink; */
  padding-top: 30px;
  box-sizing: border-box;
}

.footer .left {
  /* ps */
  /* background-color: yellow; */
}

.footer .left p {
  height: 46px;
  font-size: 12px;
  color: #606060;
  margin-top: 24px;
  line-height: 19px;
}

.footer .left .app {
  display: block;
  width: 120px;
  height: 36px;
  border: 1px solid #04a5ff;
  box-sizing: border-box;
  color: #04a5ff;
  text-align: center;
  line-height: 34px;
}

.footer .right {
  width: 537px;
  height: 200px;
  /* background-color: red; */
}

.footer .right dl {
  float: left;
}

.footer .right dl dt {
  height: 31px;
}

.footer .right dl dd {
  height: 21px;
  font-size: 12px;
}

.footer .right dl:nth-child(1) {
  width: 225px;
}

.footer .right dl:nth-child(2) {
  width: 217px;
}

