.top{
    background-color: rgb(163, 105, 105);
    height:300px;
    position: relative;
    
}
.container
{   background-color: rgb(88, 122, 55);
    position: absolute;
    display: inline-block;
    width: 60%;
    margin-left: 15%;
    
}
.a1 li{
    direction: none;
    display:inline-block;

}
.top .container .li a{
    display:inline-block;
    text-decoration: none;
}